GameJam/Library/
GameJam/LibraryIOS/
GameJam/LibraryAndroid/
GameJam/Temp/
tanker/Library/
tanker/LibraryIOS/
tanker/LibraryAndroid/
tanker/Temp/
*.csproj
*.pidb
*.unityproj
*.sln
*.userprefs
GameJam/Builds/
